$dark-bg: #282828;
$bg3: #665c54;

$fg4: #a89984;
$fg3: #bdae93;
$fg2: #d5c4a1;
$fg1: #ebdbb2;
$fg0: #fbf1c7;

$red: #cc241d;
$green: #98971a;
$yellow: #d79921;
$blue: #458588;
$purple: #b16286;
$aqua: #689d6a;
$gray: #a89984;
$orange: #d65d0e;

$text: $dark-bg;

$primary: #90a17d;
$light: #f5ebe0;

$background: white;
