@import "./colors";

$border-size: 1;
$border-color: $yellow;

.tborder-radius {
  border-radius: 2em;
}

.tborder {
  @extend .tborder-radius;
  border-style: solid;
  border-color: $light;
  border-width: calc($border-size * 1px);

  transition: all 0.3s;
}

.focused {
  border-color: $yellow;
}

.tborder:hover,
.tborder:focus {
  @extend .focused;
}

@mixin trail-border {
  border: solid $border-color calc($border-size * 1px);
}
