@use "_colors";

@mixin font {
  font-family: "Amatic SC", cursive;
  font-size: 2em;
}

.btn {
  border: solid 1px $light;
  padding: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  min-width: 244px;
  font-weight: bold;

  @include font;
}

@mixin trail-button {
  & {
    @include trail-border;
    color: $text;

    padding: 0.5em;

    background-color: transparent;
  }

  &:hover {
    color: black;
  }
}
