@import "_colors";
@import "_button";
@import "_border";
@import "_layout";

.c-size {
  container-type: size;
}

.c-inline-size {
  container-type: inline-size;
}

.c-normal {
  container-type: normal;
}