name: Code Quality

on: [ push, pull_request ]

env:
  NODE_VERSION: "24.x"

  DB_NAME: "e2e-testing-db"
  DB_USER: "user"
  DB_PW: "password"
  DB_HOST: "localhost"

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgis:
        image: postgis/postgis:18-3.6-alpine
        env:
          POSTGRES_DB: ${{ env.DB_NAME }}
          POSTGRES_USER: ${{ env.DB_USER }}
          POSTGRES_PASSWORD: ${{ env.DB_PW }}
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

      broken-postgis:
        image: postgis/postgis:18-3.6-alpine
        env:
          POSTGRES_DB: ${{ env.DB_NAME }}
          POSTGRES_USER: ${{ env.DB_USER }}
          POSTGRES_PASSWORD: ${{ env.DB_PW}}
        ports:
          - 5433:5433
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # -----------------------------------------------------------------
      # global
      # -----------------------------------------------------------------
      - name: Set up Node.js ${{ env.NODE_VERSION }} (global)
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Cache npm dependencies (global)
        uses: actions/cache@v4
        with:
          path: ~/.npm  # Cache npm cache
          key: ${{ runner.os }}-node-${{ hashFiles('./frontend/package-lock.json', './backend/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies (global)
        run: npm install -- workspaces

      # -----------------------------------------------------------------
      # backend
      # -----------------------------------------------------------------
      - name: Cache npm dependencies (backend)
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-backend-${{ hashFiles('./backend/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-backend-

      - name: Setup (backend)
        uses: ./.github/actions/setup-backend

      - name: Dependencies audit (backend)
        run: npm run deps:audit
        working-directory: ./backend

      - name: Dependencies check (backend)
        run: npm run deps:check
        working-directory: ./backend

      - name: Build (backend)
        run: npm run build:backend

      - name: Check (backend)
        uses: ./.github/actions/check-backend
        with:
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
          db-user: ${{ env.DB_USER }}
          db-password: ${{ env.DB_PW }}
          db-host: ${{ env.DB_HOST }}
          db-port: 5432
          db-name: ${{ env.DB_NAME }}
          broken-db-port: 5433

      # -----------------------------------------------------------------
      # editor
      # -----------------------------------------------------------------
      - name: Cache npm dependencies (editor)
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-frontend-${{ hashFiles('./editor/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-editor-

      - name: Install dependencies (editor)
        run: npm install
        working-directory: ./editor

      - name: Build (editor)
        run: npm run build:editor

      # -----------------------------------------------------------------
      # frontend
      # -----------------------------------------------------------------
      - name: Cache npm dependencies (frontend)
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-frontend-${{ hashFiles('./frontend/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-frontend-

      - name: Install dependencies (frontend)
        run: npm install
        working-directory: ./frontend

      - name: Build (frontend)
        run: npm run build:frontend

      - name: Check (frontend)
        uses: ./.github/actions/check-frontend
        with:
          codecov-token: ${{ secrets.CODECOV_TOKEN }}

      # -----------------------------------------------------------------
      # release & changelog
      # -----------------------------------------------------------------
      - name: Conventional Changelog Action
        uses: TriPSs/conventional-changelog-action@v5
        with:
          github-token: ${{ secrets.github_token }}
          git-user-name: 'Gil Engel'
          git-user-email: 'fernwaerts+github@gmail.com'