name: Code Quality

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ "24.x" ]
        db-name: [ e2e-testing-db ]
        db-user: [ user ]
        db-password: [ password ]
        db-host: [ localhost ]
        db-port: [ 5432 ]
        broken-db-port: [ 5433 ]

    services:
      postgis:
        image: postgis/postgis:18-3.6-alpine
        env:
          POSTGRES_DB: ${{ matrix.db-name }}
          POSTGRES_USER: ${{ matrix.db-user }}
          POSTGRES_PASSWORD: ${{ matrix.db-password }}
        ports:
          - ${{ matrix.db-port }}:${{ matrix.db-port }}
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

      broken-postgis:
        image: postgis/postgis:18-3.6-alpine
        env:
          POSTGRES_DB: ${{ matrix.db-name }}
          POSTGRES_USER: ${{ matrix.db-user }}
          POSTGRES_PASSWORD: ${{ matrix.db-password }}
        ports:
          - ${{ matrix.broken-db-port }}:${{ matrix.db-port }}
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # -----------------------------------------------------------------
      # global
      # -----------------------------------------------------------------
      - name: Set up Node.js ${{ matrix.node-version }} (global)
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Cache npm dependencies (global)
        uses: actions/cache@v4
        with:
          path: ~/.npm  # Cache npm cache
          key: ${{ runner.os }}-node-${{ hashFiles('./frontend/package-lock.json', './backend/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies (global)
        run: npm install -- workspaces

      # -----------------------------------------------------------------
      # backend
      # -----------------------------------------------------------------
      - name: Cache npm dependencies (backend)
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-backend-${{ hashFiles('./backend/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-backend-

      - name: Setup (backend)
        uses: ./.github/actions/setup-backend

      - name: Dependencies audit (backend)
        run: npm run deps:audit
        working-directory: ./backend

      - name: Dependencies check (backend)
        run: npm run deps:check
        working-directory: ./backend

      - name: Build (backend)
        run: npm run build:backend

      - name: Check (backend)
        uses: ./.github/actions/check-backend


      # -----------------------------------------------------------------
      # editor
      # -----------------------------------------------------------------
      - name: Cache npm dependencies (editor)
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-frontend-${{ hashFiles('./editor/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-editor-

      - name: Install dependencies (editor)
        run: npm install
        working-directory: ./editor

      - name: Build (editor)
        run: npm run build:editor

      # -----------------------------------------------------------------
      # frontend
      # -----------------------------------------------------------------
      - name: Cache npm dependencies (frontend)
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-frontend-${{ hashFiles('./frontend/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-frontend-

      - name: Install dependencies (frontend)
        run: npm install
        working-directory: ./frontend

      - name: Build (frontend)
        run: npm run build:frontend

      - name: Run eslint (frontend)
        run: npm run lint
        working-directory: ./frontend

      - name: Run the unit tests (frontend)
        run: npm run test:unit:cov
        working-directory: ./frontend

      - name: Upload coverage reports to Codecov (frontend)
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: gilengel/trail
          files: ./frontend/coverage/cobertura-coverage.xml
          flags: frontend,unit

      # -----------------------------------------------------------------
      # release & changelog
      # -----------------------------------------------------------------
      - name: Conventional Changelog Action
        uses: TriPSs/conventional-changelog-action@v5
        with:
          github-token: ${{ secrets.github_token }}
          git-user-name: 'Gil Engel'
          git-user-email: 'fernwaerts+github@gmail.com'